bumpversion
ipython
nbconvert<6
nbsphinx==0.4.3
pre-commit
pygments<3,>=2.4.1
pytest
pytest-cov
sphinx<2
sphinx-prompt
tox

-e .
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
